<html>
<head>
<title>Registration</title>
<style>
body{
background-color:#FFEBCD
}
a:link, a:visited,button {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active,button:hover {
  background-color: red;
}
h4{
color:blue;

}
</style>
</head>
<body>
<p><a href="{% url 'login' %}"><input type="button" value="BACK"></input></a></p>
	<center><div>
	<h1> register</h1>
	<form action="{% url 'register' %}" method="post">
		{% csrf_token %}
	<input type="text" name="first_name" placeholder="First Name" required><br><br>
	<input type="text" name="last_name" placeholder="Last Name" required><br><br>
	<input type="text" name="username" placeholder="Username" required><br><br>
	<input type="email" name="email" placeholder="email" required><br><br>
	<input type="password" name="password1" placeholder="Password" required><br><br>
<input type="password" name="password2" placeholder="Confirm_Password" required><br><br>
	<button type="submit">Register</button>
	</form>
	<div>
	{% for message in messages %}
	<h4>{{message}}</h4>
	{% endfor %}
	</div>
</div></center>
</body>
</html>
